<h3>{{first_number}}  / {{second_number}} = {{#divide first_number second_number}}{{/divide}}</h3>
<p> First Number: {{first_number}} </p>
<p> Second Number: {{second_number}} </p>
<strong> Total: <span id="total">{{#divide first_number second_number}}{{/divide}}</span> </strong>
