<h3>{{first_number}}  * {{second_number}} = {{#multiple first_number second_number}}{{/multiple}}</h3>
<p> First Number: {{first_number}} </p>
<p> Second Number: {{second_number}} </p>
<strong> Total: <span id="total">{{#multiple first_number second_number}}{{/multiple}}</span> </strong>
