<div id="viewContent"></div>

<p>
	First Name: <input type="text" name="first_name"/>
</p>
<p>
	Phone:<span class="highlight">(Custom Value Updates) <input type="text" name="phone"/>
</p>
<p>
	Height:<span class="highlight">(Custom No Binding Test) </span> <input type="text" name="height"/>
</p>
<p>
	Text Color:  Green: <input type="radio" name="text_color" value="green">
	Blue: <input type="radio" name="text_color" value="blue">
	Brown: <input type="radio" name="text_color" value="brown"> <br>
	<span class="label">This is the color of my eye. Look at the color of the text.</span><br>
</p>
<p>
	Can Drive?:  Yes: <input type="radio" name="can_drive" value="yes">
	No: <input type="radio" name="can_drive" value="no">
	Maybe: <input type="radio" name="can_drive" value="maybe"> <br>

	Drivers licence: <input type="checkbox" name="drivers_license"/> <br>
	Motorcycle license: <input type="checkbox" name="motorcycle_license" /><br>
</p>
<p>
Dog: <span class="highlight">(Custom object value binding)</span>
	<select name="dog">
		<option value="">Please Select</option>
		<option value="1">smith</option>
		<option value="2">Biff</option>
		<option value="3">Candy</option>
	</select>
</p>
<p>
	Big Text: <textarea name="bigText" rows="6" cols="40"></textarea>
</p>
