<td data-name="select_box"><input type="checkbox" class="select"></td>
<td data-name="_id" class='order'></td>
<td data-name="first"></td>
<td data-name="last"></td>
<td data-name="telephone"></td>
<td data-name="price"></td>
<td data-name="remove_box"><input type="checkbox" class="remove"></td>
