<h3>{{first_number}} - {{second_number}} = {{#minus first_number second_number}}{{/minus}}</h3>
<p> First Number: {{first_number}} </p>
<p> Second Number: {{second_number}} </p>
<strong> Total: <span id="total">{{#minus first_number second_number}}{{/minus}}</span> </strong>
