<p>
	<label>First Number: </label>
	<input type="text" id="first_num" placeholder="{{first_number}}">
</p>
<p>
	<label>Second Number: </label>
	<input type="text" id="second_num"  placeholder="{{second_number}}">
</p>
<p>
	<button>Submit</button>
</p>
