<p>
	<label>First Number: </label>
	<input type="text" id="first_num" name="first_number">
	<span class="validation"></span>
</p>
<p>
	<label>Second Number: </label>
	<input type="text" id="second_num" name="second_number">
	<span class="validation"></span>
</p>
<p>
	<button>Submit</button>
</p>
