extends ../layout

block content
	.wrapper
		header.header-container#header-container
		.container.outer-container
			#page-container.page-container
		#main
			#top
				.top-left-panel
				.top-center-panel
				.top-right-panel
			#bottom
				.bottom-left-panel
				.bottom-right-panel
		#footer
			h2 Model Data Binding:
		#form
			h2 Form Data Custom Binding:
